@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

$primary: #4C84FF;
$secondary: #77bdff;
$white: #fff;
$gray: #9b9b9b;

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
  background-color: #f8f9fb;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.form {
  &__new {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #fff;
    border: solid #d4d4d4;
    width: 50%;
    padding: 10px 50px;
  }
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    a {
      font-size: 2em;
      color: $primary;
    }
  }
  &__title {
    color: $primary;
    text-transform: uppercase;
  }

  &__avatar{
    margin: 0px auto;
  }

  &__avatar img{
    width: 200px;
    height: 200px;
    border: $gray solid 2px;
    border-radius: 50%;
    margin: 0px auto;
  }
  &__infos {
    margin: 0 auto;
    width: 100%;
  }
  &__group {
    position: relative;
    padding: 15px 0 0;
    margin: 10px auto 0px;
    width: 80%;
  }

  &__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $gray;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
  }

  &__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
  }

  &__field{
    &:required,&:invalid { box-shadow:none; }
  }

  &__button{
    margin: 3em auto;
    padding: 3px;
    border: 1px solid $primary;
    background-color: $primary;
    color: $white;
    width: 30%;
    height: 3em;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    &:hover{
      background-color: $secondary;
      color: $white;
    }
  }

}