@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
  background-color: #f8f9fb;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.form__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
  border: solid #d4d4d4;
  width: 50%;
  padding: 10px 50px;
}

.form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.form__header a {
  font-size: 2em;
  color: #4C84FF;
}

.form__title {
  color: #4C84FF;
  text-transform: uppercase;
}

.form__avatar {
  margin: 0px auto;
}

.form__avatar img {
  width: 200px;
  height: 200px;
  border: #9b9b9b solid 2px;
  border-radius: 50%;
  margin: 0px auto;
}

.form__infos {
  margin: 0 auto;
  width: 100%;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin: 10px auto 0px;
  width: 80%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #9b9b9b;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.form__field::-webkit-input-placeholder {
  color: transparent;
}

.form__field:-ms-input-placeholder {
  color: transparent;
}

.form__field::-ms-input-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #4C84FF, #77bdff);
     border-image: -webkit-gradient(linear, left top, right top, from(#4C84FF), to(#77bdff));
     border-image: linear-gradient(to right, #4C84FF, #77bdff);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #4C84FF;
  font-weight: 700;
}

.form__field:required, .form__field:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form__button {
  margin: 3em auto;
  padding: 3px;
  border: 1px solid #4C84FF;
  background-color: #4C84FF;
  color: #fff;
  width: 30%;
  height: 3em;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.form__button:hover {
  background-color: #77bdff;
  color: #fff;
}
/*# sourceMappingURL=NewContact.css.map */